---
import Shell from "../layouts/Shell.astro";
import Search from "../components/Search.jsx";
---

<Shell>
  <main class="h-full flex flex-col justify-center items-center">
    <h1 class="italic font-bold text-3xl">I'm feeling Reddit</h1>
    <Search client:load />
  </main>
</Shell>
