---
import Shell from "@layouts/Shell.astro";
import Title from "@components/Title.astro";
import SearchWidget from "@components/islands/SearchWidget";
---

<Shell>
  <main class="h-full flex flex-col justify-center items-center">
    <Title />
    <SearchWidget client:load focus={true} />
  </main>
</Shell>
